@model EMovies.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Review</h1>

<hr />

<div class="row">
    <div class="col-md-8 offset-2">
<div class="row">
            <div class="col-md-8 offset-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReviewId" />
            <div class="form-group">
                <label asp-for="ReviewDescription" class="control-label"></label>
                <input asp-for="ReviewDescription" class="form-control" />
                <span asp-validation-for="ReviewDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarRating" class="control-label"></label>
                <input asp-for="StarRating" class="form-control" />
                <span asp-validation-for="StarRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieName"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
                    <span style="padding:5px"></span>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                        <span style="padding:5px"></span>

                        <a asp-action="AllReviews" class="btn btn-dark">View All Reviews</a>
            </div>
        </form>
    </div>
</div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
