@model EMovies.Models.Director

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-md-8 offset-2">

        <div class="row">
            <div class="col-md-8 offset-2">

                <h1 class="text-center">Director Details</h1>
                <hr />


<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src=@Model.ProfilePictureUrl alt=@Model.DirectorName" style="max-width:150px;">

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(model => model.DirectorName)
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Biography)
                </p>
            </div>
        </div>
    </div>
</div>
<div>
      @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.DirectorId">Edit Director</a> 
                        }
    <a asp-action="Index" class="btn btn-dark">Display All Directors</a>
</div>


</div>
</div>
</div>
</div>

